/*
    Column layout
    Author: Yves Piguet, EPFL, 2019-2020
*/

h1, h2, h3, p {
    font-family: sans-serif;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 15px;
}
h3, p {
    font-size: 12px;
}

div.columncontainer {
	display: flex;
	margin-left: 3em;
	margin-right: 3em;
}

div.columncontainer > div {
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0;
}
div.columncontainer > div:first-child {
	margin-left: 0;
}
div.columncontainer > div:last-child {
	margin-right: 0;
}

div.column2 {
	width: 50%;
}
div.column3 {
	width: 33%;
}
div.column4 {
	width: 25%;
}
